/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body,
html {
  height: 100%;
}

body {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#testoAlternato {
  border: 3px solid black;
  width: 80%;
  padding: 1em;
  font-size: 2.3em;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
}

.parole {
  /* position: relative; */
  display: inline-block;
  color: #6a889c;
}

i {
  animation: fade 12s normal infinite;
  opacity: 0;
  display: inline-block;
}

i:nth-of-type(1) {
  animation-delay: 0s;
}

i:nth-of-type(2) {
  animation-delay: 4s; /* Delay the appearance of the second word */
  position: relative;
  right: 236px;
  display: inline-block;
}

i:nth-of-type(3) {
  animation-delay: 8s;
  display: inline-block;
  position: absolute;
  right: 721px;
}

@keyframes fade {
  0%,
  30% {
    opacity: 0;
    transform: translate(0px, -100px);
  }

  60% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  100% {
    opacity: 0;
    transform: translate(0px, 100px);
  }
}
